.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Set to full viewport height */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    text-align: center;
    z-index: 1;
    color: #fff; /* Set your desired text color */
    p {
      font-size: 12px;
    }
  }
  
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%); /* Adjust as needed, optional */
  }